APP_SECRET_KEY=change-this-long-random-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
DATABASE_URL=sqlite:///./data/app.db
BANNER_REGISTRATION_URL=https://bannservices.seu.edu.sa/StudentRegistrationSsb/ssb/registration
BANNER_TRANSCRIPT_URL=https://bannservices.seu.edu.sa/StudentSelfService/ssb/academicTranscript#!/UG/WEB/maintenance
SEU_PROGRAMS_URL=https://seu.edu.sa/ar/programs/
ALLOW_FINAL_REGISTRATION=false
